.container{
  width: 80%;
  margin: 0 auto;
  padding: 19px;
  background-color: aliceblue;
  box-shadow: 0px 3px 14px #cbc0c0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family:sans-serif;
  color: #2b2929;
}
.card-container{
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgb(230, 227, 227);

}
.card-container img{
  width: 40%;

}
.card-description h2{
  font-size: 28px;
}
.card-description p{
  font-size: 16px;
  line-height: 25px;
}
.card-description button{
  font-size: 16px;
  padding: 10px 15px;
  background-color: rgb(5, 5, 133);
  color: whitesmoke;
  border: none;
  margin: 10px 0px 30px 0px;
}
@media screen and (max-width:576px) {
  .card-container{
    flex-direction: column;
    width: 100%;
  }
  .card-container img {
    width: 100%;
}
.container {
  gap: 55px;
}

}